:root, [data-bs-theme=light] {
  --bs-primary: #72c8ff;
  --bs-primary-rgb: 114,200,255;
  --bs-primary-text-emphasis: #2E5066;
  --bs-primary-bg-subtle: #E3F4FF;
  --bs-primary-border-subtle: #C7E9FF;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #72c8ff;
  --bs-btn-border-color: #72c8ff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #87D0FF;
  --bs-btn-hover-border-color: #80CEFF;
  --bs-btn-focus-shadow-rgb: 17,30,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8ED3FF;
  --bs-btn-active-border-color: #80CEFF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #72c8ff;
  --bs-btn-disabled-border-color: #72c8ff;
}

.btn-outline-primary {
  --bs-btn-color: #72c8ff;
  --bs-btn-border-color: #72c8ff;
  --bs-btn-focus-shadow-rgb: 114,200,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #72c8ff;
  --bs-btn-hover-border-color: #72c8ff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #72c8ff;
  --bs-btn-active-border-color: #72c8ff;
  --bs-btn-disabled-color: #72c8ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #72c8ff;
}

